:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-text-color: #212121;
    --secondary-text-color:#757575;
    --focus-color:  #2196F3;
}
body {
    font-family: var(--main-font);
    color: var(--secondary-text-color)
    ;
}

.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.address {
    font-style: none;
}

.logo {
    font-family: var(--secondary-font)
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--focus-color )
    }
.logo-dark-theme {
    color:#FFFFFF;
}
.logo-light-theme {
    color:var(--main-text-color)
}
/*===========Header================ */
.header-bg {
    background: #FFFFFF;
}
.navigation-link {
    font-family: var(--main-font)
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--main-text-color)
}
.contact-link {
    font-family: var(--main-font)
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: 
}
.contact-link:hover,
.contact-link:focus {
    color:var(--focus-color ) ;
}

.im-here:hover,
.im-here:focus {
    color: var(--focus-color );
}
.im-here:active {
    color: var(--focus-color );
}
.current {
    color: var(--focus-color );
}
/*===========End Header================ */

/*===========Hero================ */
.hero-bg {
    background: #2F303A;
}
.hero-title {
    font-family: var(--main-font)
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    }
.main-button {
    font-family: var(--main-font)
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: #FFFFFF;
    background: var(--focus-color );
}
/*===========End Hero================ */

/*===========About================ */
.about1 {
    width: 370px;
    height: 294px;
    left: 215px;
    top: 1061px;
    background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
    mix-blend-mode: normal;
}
.about2 {
    width: 370px;
    height: 294px;
    left: 615px;
    top: 1061px;
    background: url(web-ui-designers-are-developing-application-smartphones-team-creators-is-working-interface-mobile-phones_8119-2713.jpg);
    }
.about3 {
    width: 370px;
    height: 294px;
    left: 1015px;
    top: 1061px;

    background: url(creative-artist-web-design-with-working-colour-selection-graphic-tablet_35674-1119.jpg);
    }
/*===========End About================ */

/*===========Our team================ */
.card-bg-1 {
    width: 270px;
    height: 368px;
    left: 215px;
    top: 1635px;

    background: #FFFFFF;
    /* material shadow v1 */

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    }
.ihor {
    width: 270px;
    height: 260px;
    left: 215px;
    top: 1635px;

    background: url(4853.jpg);
    border-radius: 0px;
}
.card-bg-2 {
    width: 270px;
    height: 368px;
    left: 515px;
    top: 1635px;

    background: #FFFFFF;
    /* material shadow v1 */

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.olha {
    width: 270px;
    height: 260px;
    left: 515px;
    top: 1635px;

    background: url(5844.jpg);
    border-radius: 0px;
}
.card-bg-3 {
    width: 270px;
    height: 368px;
    left: 815px;
    top: 1635px;

    background: #FFFFFF;
    /* material shadow v1 */

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.nikolaj {
    width: 270px;
    height: 260px;
    left: 815px;
    top: 1635px;

    background: url(16166.jpg);
    border-radius: 0px;
}
.card-bg-4 {
    width: 270px;
    height: 368px;
    left: 1115px;
    top: 1635px;

    background: #FFFFFF;
    /* material shadow v1 */

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.michele {
    width: 270px;
    height: 260px;
    left: 1115px;
    top: 1635px;

    background: url(2968.jpg);
    border-radius: 0px;
}
    /*===========Work gallery================ */
.buttom-bg {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}
.portfolio-btn {
    font-family: var(--main-font)
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: var(--main-text-color)
    background: #F5F4FA;
    border-radius: 4px;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
    background-color: var(--focus-color );
    color:#FFFFFF;
}
.work1 {
    width: 370px;
    height: 294px;
    left: 215px;
    top: 262px;
    background: url(portfolio1.jpg);
}
.work2 {
    width: 370px;
    height: 294px;
    left: 615px;
    top: 262px;
    background: url(portfolio2.jpg);
}
.work3 {
    width: 370px;
    height: 294px;
    left: 1015px;
    top: 262px;
    background: url(portfolio-1.jpg);
}
.work4 {
    width: 370px;
    height: 294px;
    left: 215px;
    top: 696px;
    background: url(portfolio-2.jpg);
}
.work5 {
    width: 370px;
    height: 294px;
    left: 615px;
    top: 696px;
    background: url(portfolio5.jpg);
}
.work6 {
    width: 370px;
    height: 294px;
    left: 1015px;
    top: 696px;
    background: url(111.jpg);
}
.work7 {
    width: 370px;
    height: 294px;
    left: 215px;
    top: 1130px;
    background: url(portfolio7.jpg);
}
.work8 {
    width: 370px;
    height: 294px;
    left: 615px;
    top: 1130px;
    background: url(portfolio8.jpg);
}
.work9 {
    width: 370px;
    height: 294px;
    left: 1015px;
    top: 1130px;
    background: url(2910404.jpg);
}
.project-name {
    font-family: var(--main-font)
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--main-text-color)
}
.project-explanation {
    font-family: var(--main-font)
    font-size: 16px;
    line-height: 1,87;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color)
    }
/*===========Work gallery================ */

/*===========Advantages section================ */
.advantage-name {
    font-family: var(--main-font)
    font-weight: bold;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-text-color)
}
.advantage-explanation {
    font-family: var(--main-font)
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color)
}
/*===========End Advantages section================ */

.body-title {
    font-family: var(--main-font)
    font-weight: bold;
    font-size: 36px;
    line-height: 1,16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color)
}
/*===========Our team================ */
.team-mate {
    font-family: var(--main-font)
    font-weight: 500;
    font-size: 16px;
    line-height: 1,18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color)
}
.job-position {
    font-family: var(--main-font)
    font-size: 16px;
    line-height: 1,18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color)
}
/*===========Footer================ */
.footer-bg {
    background: #2F303A;
}
.physical-adress {
    font-family: var(--main-font)
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.mail-adress {
    font-family: var(--main-font)
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.phone-number {
    font-family: var(--main-font)
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
/*===========End Footer================ */

